<style> table tr td, table tr th { padding: 10px 16px; line-height: 20px; vertical-align: middle; } table tr td,  table tr th { border: 1px solid #dbdbdb; }</style>
<table>
<tr><th>nom</th><th>prenom</th><th>tel</th><th>email</th></tr>
<tr><td>derand</td><td>michel</td><td>0011</td><td>michel.derand@jaiunmail.com</td></tr>
<tr><td>zertig</td><td>anais</td><td>3220</td><td></td></tr>
</table>
