<style> table tr td, table tr th { padding: 10px 16px; line-height: 20px; vertical-align: middle; } table tr td,  table tr th { border: 1px solid #dbdbdb; }</style>
<table>
<tr><th>prenom</th><th>nom</th><th>email</th><th>tel</th></tr>
<tr><td>michel</td><td>derand</td><td>michel.derand@jaiunmail.com</td><td></td></tr>
<tr><td>anais</td><td>zertig</td><td>anais.zertig@jaiunmail.com</td><td>3220</td></tr>
<tr><td>luc</td><td>menate</td><td>luc.menate@facedebique.com</td><td>9876</td></tr>
<tr><td>alex</td><td>vernier</td><td>alex.vernier@autremail.com</td><td>5342</td></tr>
</table>
