<style> table tr td, table tr th { padding: 10px 16px; line-height: 20px; vertical-align: middle; } table tr td,  table tr th { border: 1px solid #dbdbdb; }</style>
<table>
<tr><th>Country</th><th>Currency</th><th>Code</th></tr>
<tr><td>AFGHANISTAN</td><td>Afghani</td><td>AFN</td></tr>
<tr><td>ALBANIA</td><td>Lek</td><td>ALL</td></tr>
<tr><td>ALGERIA</td><td>Algerian Dinar</td><td>DZD</td></tr>
<tr><td>AMERICAN SAMOA</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>ANDORRA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>ANGOLA</td><td>Kwanza</td><td>AOA</td></tr>
<tr><td>ANGUILLA</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>ANTARCTICA</td><td>No universal currency</td><td></td></tr>
<tr><td>ANTIGUA AND BARBUDA</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>ARGENTINA</td><td>Argentine Peso</td><td>ARS</td></tr>
<tr><td>ARMENIA</td><td>Armenian Dram</td><td>AMD</td></tr>
<tr><td>ARUBA</td><td>Aruban Florin</td><td>AWG</td></tr>
<tr><td>AUSTRALIA</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>AUSTRIA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>AZERBAIJAN</td><td>Azerbaijanian Manat</td><td>AZN</td></tr>
<tr><td>BAHAMAS (THE)</td><td>Bahamian Dollar</td><td>BSD</td></tr>
<tr><td>BAHRAIN</td><td>Bahraini Dinar</td><td>BHD</td></tr>
<tr><td>BANGLADESH</td><td>Taka</td><td>BDT</td></tr>
<tr><td>BARBADOS</td><td>Barbados Dollar</td><td>BBD</td></tr>
<tr><td>BELARUS</td><td>Belarussian Ruble</td><td>BYN</td></tr>
<tr><td>BELGIUM</td><td>Euro</td><td>EUR</td></tr>
<tr><td>BELIZE</td><td>Belize Dollar</td><td>BZD</td></tr>
<tr><td>BENIN</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>BERMUDA</td><td>Bermudian Dollar</td><td>BMD</td></tr>
<tr><td>BHUTAN</td><td>Ngultrum</td><td>BTN</td></tr>
<tr><td>BHUTAN</td><td>Indian Rupee</td><td>INR</td></tr>
<tr><td>BOLIVIA (PLURINATIONAL STATE OF)</td><td>Boliviano</td><td>BOB</td></tr>
<tr><td>BOLIVIA (PLURINATIONAL STATE OF)</td><td>Mvdol</td><td>BOV</td></tr>
<tr><td>BONAIRE, SINT EUSTATIUS AND SABA</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>BOSNIA AND HERZEGOVINA</td><td>Convertible Mark</td><td>BAM</td></tr>
<tr><td>BOTSWANA</td><td>Pula</td><td>BWP</td></tr>
<tr><td>BOUVET ISLAND</td><td>Norwegian Krone</td><td>NOK</td></tr>
<tr><td>BRAZIL</td><td>Brazilian Real</td><td>BRL</td></tr>
<tr><td>BRITISH INDIAN OCEAN TERRITORY (THE)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>BRUNEI DARUSSALAM</td><td>Brunei Dollar</td><td>BND</td></tr>
<tr><td>BULGARIA</td><td>Bulgarian Lev</td><td>BGN</td></tr>
<tr><td>BURKINA FASO</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>BURUNDI</td><td>Burundi Franc</td><td>BIF</td></tr>
<tr><td>CABO VERDE</td><td>Cabo Verde Escudo</td><td>CVE</td></tr>
<tr><td>CAMBODIA</td><td>Riel</td><td>KHR</td></tr>
<tr><td>CAMEROON</td><td>CFA Franc BEAC</td><td>XAF</td></tr>
<tr><td>CANADA</td><td>Canadian Dollar</td><td>CAD</td></tr>
<tr><td>CAYMAN ISLANDS (THE)</td><td>Cayman Islands Dollar</td><td>KYD</td></tr>
<tr><td>CENTRAL AFRICAN REPUBLIC (THE)</td><td>CFA Franc BEAC</td><td>XAF</td></tr>
<tr><td>CHAD</td><td>CFA Franc BEAC</td><td>XAF</td></tr>
<tr><td>CHILE</td><td>Unidad de Fomento</td><td>CLF</td></tr>
<tr><td>CHILE</td><td>Chilean Peso</td><td>CLP</td></tr>
<tr><td>CHINA</td><td>Yuan Renminbi</td><td>CNY</td></tr>
<tr><td>CHRISTMAS ISLAND</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>COCOS (KEELING) ISLANDS (THE)</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>COLOMBIA</td><td>Colombian Peso</td><td>COP</td></tr>
<tr><td>COLOMBIA</td><td>Unidad de Valor Real</td><td>COU</td></tr>
<tr><td>COMOROS (THE)</td><td>Comoro Franc</td><td>KMF</td></tr>
<tr><td>CONGO (THE DEMOCRATIC REPUBLIC OF THE)</td><td>Congolese Franc</td><td>CDF</td></tr>
<tr><td>CONGO (THE)</td><td>CFA Franc BEAC</td><td>XAF</td></tr>
<tr><td>COOK ISLANDS (THE)</td><td>New Zealand Dollar</td><td>NZD</td></tr>
<tr><td>COSTA RICA</td><td>Costa Rican Colon</td><td>CRC</td></tr>
<tr><td>CROATIA</td><td>Kuna</td><td>HRK</td></tr>
<tr><td>CUBA</td><td>Peso Convertible</td><td>CUC</td></tr>
<tr><td>CUBA</td><td>Cuban Peso</td><td>CUP</td></tr>
<tr><td>CURAÇAO</td><td>Netherlands Antillean Guilder</td><td>ANG</td></tr>
<tr><td>CYPRUS</td><td>Euro</td><td>EUR</td></tr>
<tr><td>CZECH REPUBLIC (THE)</td><td>Czech Koruna</td><td>CZK</td></tr>
<tr><td>CÔTE D'IVOIRE</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>DENMARK</td><td>Danish Krone</td><td>DKK</td></tr>
<tr><td>DJIBOUTI</td><td>Djibouti Franc</td><td>DJF</td></tr>
<tr><td>DOMINICA</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>DOMINICAN REPUBLIC (THE)</td><td>Dominican Peso</td><td>DOP</td></tr>
<tr><td>ECUADOR</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>EGYPT</td><td>Egyptian Pound</td><td>EGP</td></tr>
<tr><td>EL SALVADOR</td><td>El Salvador Colon</td><td>SVC</td></tr>
<tr><td>EL SALVADOR</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>EQUATORIAL GUINEA</td><td>CFA Franc BEAC</td><td>XAF</td></tr>
<tr><td>ERITREA</td><td>Nakfa</td><td>ERN</td></tr>
<tr><td>ESTONIA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>ETHIOPIA</td><td>Ethiopian Birr</td><td>ETB</td></tr>
<tr><td>EUROPEAN UNION</td><td>Euro</td><td>EUR</td></tr>
<tr><td>FALKLAND ISLANDS (THE) [MALVINAS]</td><td>Falkland Islands Pound</td><td>FKP</td></tr>
<tr><td>FAROE ISLANDS (THE)</td><td>Danish Krone</td><td>DKK</td></tr>
<tr><td>FIJI</td><td>Fiji Dollar</td><td>FJD</td></tr>
<tr><td>FINLAND</td><td>Euro</td><td>EUR</td></tr>
<tr><td>FRANCE</td><td>Euro</td><td>EUR</td></tr>
<tr><td>FRENCH GUIANA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>FRENCH POLYNESIA</td><td>CFP Franc</td><td>XPF</td></tr>
<tr><td>FRENCH SOUTHERN TERRITORIES (THE)</td><td>Euro</td><td>EUR</td></tr>
<tr><td>GABON</td><td>CFA Franc BEAC</td><td>XAF</td></tr>
<tr><td>GAMBIA (THE)</td><td>Dalasi</td><td>GMD</td></tr>
<tr><td>GEORGIA</td><td>Lari</td><td>GEL</td></tr>
<tr><td>GERMANY</td><td>Euro</td><td>EUR</td></tr>
<tr><td>GHANA</td><td>Ghana Cedi</td><td>GHS</td></tr>
<tr><td>GIBRALTAR</td><td>Gibraltar Pound</td><td>GIP</td></tr>
<tr><td>GREECE</td><td>Euro</td><td>EUR</td></tr>
<tr><td>GREENLAND</td><td>Danish Krone</td><td>DKK</td></tr>
<tr><td>GRENADA</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>GUADELOUPE</td><td>Euro</td><td>EUR</td></tr>
<tr><td>GUAM</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>GUATEMALA</td><td>Quetzal</td><td>GTQ</td></tr>
<tr><td>GUERNSEY</td><td>Pound Sterling</td><td>GBP</td></tr>
<tr><td>GUINEA</td><td>Guinea Franc</td><td>GNF</td></tr>
<tr><td>GUINEA-BISSAU</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>GUYANA</td><td>Guyana Dollar</td><td>GYD</td></tr>
<tr><td>HAITI</td><td>Gourde</td><td>HTG</td></tr>
<tr><td>HAITI</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>HEARD ISLAND AND McDONALD ISLANDS</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>HOLY SEE (THE)</td><td>Euro</td><td>EUR</td></tr>
<tr><td>HONDURAS</td><td>Lempira</td><td>HNL</td></tr>
<tr><td>HONG KONG</td><td>Hong Kong Dollar</td><td>HKD</td></tr>
<tr><td>HUNGARY</td><td>Forint</td><td>HUF</td></tr>
<tr><td>ICELAND</td><td>Iceland Krona</td><td>ISK</td></tr>
<tr><td>INDIA</td><td>Indian Rupee</td><td>INR</td></tr>
<tr><td>INDONESIA</td><td>Rupiah</td><td>IDR</td></tr>
<tr><td>INTERNATIONAL MONETARY FUND (IMF) </td><td>SDR (Special Drawing Right)</td><td>XDR</td></tr>
<tr><td>IRAN (ISLAMIC REPUBLIC OF)</td><td>Iranian Rial</td><td>IRR</td></tr>
<tr><td>IRAQ</td><td>Iraqi Dinar</td><td>IQD</td></tr>
<tr><td>IRELAND</td><td>Euro</td><td>EUR</td></tr>
<tr><td>ISLE OF MAN</td><td>Pound Sterling</td><td>GBP</td></tr>
<tr><td>ISRAEL</td><td>New Israeli Sheqel</td><td>ILS</td></tr>
<tr><td>ITALY</td><td>Euro</td><td>EUR</td></tr>
<tr><td>JAMAICA</td><td>Jamaican Dollar</td><td>JMD</td></tr>
<tr><td>JAPAN</td><td>Yen</td><td>JPY</td></tr>
<tr><td>JERSEY</td><td>Pound Sterling</td><td>GBP</td></tr>
<tr><td>JORDAN</td><td>Jordanian Dinar</td><td>JOD</td></tr>
<tr><td>KAZAKHSTAN</td><td>Tenge</td><td>KZT</td></tr>
<tr><td>KENYA</td><td>Kenyan Shilling</td><td>KES</td></tr>
<tr><td>KIRIBATI</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>KOREA (THE DEMOCRATIC PEOPLE’S REPUBLIC OF)</td><td>North Korean Won</td><td>KPW</td></tr>
<tr><td>KOREA (THE REPUBLIC OF)</td><td>Won</td><td>KRW</td></tr>
<tr><td>KUWAIT</td><td>Kuwaiti Dinar</td><td>KWD</td></tr>
<tr><td>KYRGYZSTAN</td><td>Som</td><td>KGS</td></tr>
<tr><td>LAO PEOPLE’S DEMOCRATIC REPUBLIC (THE)</td><td>Kip</td><td>LAK</td></tr>
<tr><td>LATVIA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>LEBANON</td><td>Lebanese Pound</td><td>LBP</td></tr>
<tr><td>LESOTHO</td><td>Loti</td><td>LSL</td></tr>
<tr><td>LESOTHO</td><td>Rand</td><td>ZAR</td></tr>
<tr><td>LIBERIA</td><td>Liberian Dollar</td><td>LRD</td></tr>
<tr><td>LIBYA</td><td>Libyan Dinar</td><td>LYD</td></tr>
<tr><td>LIECHTENSTEIN</td><td>Swiss Franc</td><td>CHF</td></tr>
<tr><td>LITHUANIA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>LUXEMBOURG</td><td>Euro</td><td>EUR</td></tr>
<tr><td>MACAO</td><td>Pataca</td><td>MOP</td></tr>
<tr><td>MADAGASCAR</td><td>Malagasy Ariary</td><td>MGA</td></tr>
<tr><td>MALAWI</td><td>Kwacha</td><td>MWK</td></tr>
<tr><td>MALAYSIA</td><td>Malaysian Ringgit</td><td>MYR</td></tr>
<tr><td>MALDIVES</td><td>Rufiyaa</td><td>MVR</td></tr>
<tr><td>MALI</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>MALTA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>MARSHALL ISLANDS (THE)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>MARTINIQUE</td><td>Euro</td><td>EUR</td></tr>
<tr><td>MAURITANIA</td><td>Ouguiya</td><td>MRU</td></tr>
<tr><td>MAURITIUS</td><td>Mauritius Rupee</td><td>MUR</td></tr>
<tr><td>MAYOTTE</td><td>Euro</td><td>EUR</td></tr>
<tr><td>MEMBER COUNTRIES OF THE AFRICAN DEVELOPMENT BANK GROUP</td><td>ADB Unit of Account</td><td>XUA</td></tr>
<tr><td>MEXICO</td><td>Mexican Peso</td><td>MXN</td></tr>
<tr><td>MEXICO</td><td>Mexican Unidad de Inversion (UDI)</td><td>MXV</td></tr>
<tr><td>MICRONESIA (FEDERATED STATES OF)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>MOLDOVA (THE REPUBLIC OF)</td><td>Moldovan Leu</td><td>MDL</td></tr>
<tr><td>MONACO</td><td>Euro</td><td>EUR</td></tr>
<tr><td>MONGOLIA</td><td>Tugrik</td><td>MNT</td></tr>
<tr><td>MONTENEGRO</td><td>Euro</td><td>EUR</td></tr>
<tr><td>MONTSERRAT</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>MOROCCO</td><td>Moroccan Dirham</td><td>MAD</td></tr>
<tr><td>MOZAMBIQUE</td><td>Mozambique Metical</td><td>MZN</td></tr>
<tr><td>MYANMAR</td><td>Kyat</td><td>MMK</td></tr>
<tr><td>NAMIBIA</td><td>Namibia Dollar</td><td>NAD</td></tr>
<tr><td>NAMIBIA</td><td>Rand</td><td>ZAR</td></tr>
<tr><td>NAURU</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>NEPAL</td><td>Nepalese Rupee</td><td>NPR</td></tr>
<tr><td>NETHERLANDS (THE)</td><td>Euro</td><td>EUR</td></tr>
<tr><td>NEW CALEDONIA</td><td>CFP Franc</td><td>XPF</td></tr>
<tr><td>NEW ZEALAND</td><td>New Zealand Dollar</td><td>NZD</td></tr>
<tr><td>NICARAGUA</td><td>Cordoba Oro</td><td>NIO</td></tr>
<tr><td>NIGER (THE)</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>NIGERIA</td><td>Naira</td><td>NGN</td></tr>
<tr><td>NIUE</td><td>New Zealand Dollar</td><td>NZD</td></tr>
<tr><td>NORFOLK ISLAND</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>NORTHERN MARIANA ISLANDS (THE)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>NORWAY</td><td>Norwegian Krone</td><td>NOK</td></tr>
<tr><td>OMAN</td><td>Rial Omani</td><td>OMR</td></tr>
<tr><td>PAKISTAN</td><td>Pakistan Rupee</td><td>PKR</td></tr>
<tr><td>PALAU</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>PALESTINE, STATE OF</td><td>No universal currency</td><td></td></tr>
<tr><td>PANAMA</td><td>Balboa</td><td>PAB</td></tr>
<tr><td>PANAMA</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>PAPUA NEW GUINEA</td><td>Kina</td><td>PGK</td></tr>
<tr><td>PARAGUAY</td><td>Guarani</td><td>PYG</td></tr>
<tr><td>PERU</td><td>Nuevo Sol</td><td>PEN</td></tr>
<tr><td>PHILIPPINES (THE)</td><td>Philippine Peso</td><td>PHP</td></tr>
<tr><td>PITCAIRN</td><td>New Zealand Dollar</td><td>NZD</td></tr>
<tr><td>POLAND</td><td>Zloty</td><td>PLN</td></tr>
<tr><td>PORTUGAL</td><td>Euro</td><td>EUR</td></tr>
<tr><td>PUERTO RICO</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>QATAR</td><td>Qatari Rial</td><td>QAR</td></tr>
<tr><td>REPUBLIC OF NORTH MACEDONIA</td><td>Denar</td><td>MKD</td></tr>
<tr><td>ROMANIA</td><td>Romanian Leu</td><td>RON</td></tr>
<tr><td>RUSSIAN FEDERATION (THE)</td><td>Russian Ruble</td><td>RUB</td></tr>
<tr><td>RWANDA</td><td>Rwanda Franc</td><td>RWF</td></tr>
<tr><td>RÉUNION</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SAINT BARTHÉLEMY</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA</td><td>Saint Helena Pound</td><td>SHP</td></tr>
<tr><td>SAINT KITTS AND NEVIS</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>SAINT LUCIA</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>SAINT MARTIN (FRENCH PART)</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SAINT PIERRE AND MIQUELON</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SAINT VINCENT AND THE GRENADINES</td><td>East Caribbean Dollar</td><td>XCD</td></tr>
<tr><td>SAMOA</td><td>Tala</td><td>WST</td></tr>
<tr><td>SAN MARINO</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SAO TOME AND PRINCIPE</td><td>Dobra</td><td>STN</td></tr>
<tr><td>SAUDI ARABIA</td><td>Saudi Riyal</td><td>SAR</td></tr>
<tr><td>SENEGAL</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>SERBIA</td><td>Serbian Dinar</td><td>RSD</td></tr>
<tr><td>SEYCHELLES</td><td>Seychelles Rupee</td><td>SCR</td></tr>
<tr><td>SIERRA LEONE</td><td>Leone</td><td>SLL</td></tr>
<tr><td>SINGAPORE</td><td>Singapore Dollar</td><td>SGD</td></tr>
<tr><td>SINT MAARTEN (DUTCH PART)</td><td>Netherlands Antillean Guilder</td><td>ANG</td></tr>
<tr><td>"SISTEMA UNITARIO DE COMPENSACION REGIONAL DE PAGOS ""SUCRE"""</td><td>Sucre</td><td>XSU</td></tr>
<tr><td>SLOVAKIA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SLOVENIA</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SOLOMON ISLANDS</td><td>Solomon Islands Dollar</td><td>SBD</td></tr>
<tr><td>SOMALIA</td><td>Somali Shilling</td><td>SOS</td></tr>
<tr><td>SOUTH AFRICA</td><td>Rand</td><td>ZAR</td></tr>
<tr><td>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</td><td>No universal currency</td><td></td></tr>
<tr><td>SOUTH SUDAN</td><td>South Sudanese Pound</td><td>SSP</td></tr>
<tr><td>SPAIN</td><td>Euro</td><td>EUR</td></tr>
<tr><td>SRI LANKA</td><td>Sri Lanka Rupee</td><td>LKR</td></tr>
<tr><td>SUDAN (THE)</td><td>Sudanese Pound</td><td>SDG</td></tr>
<tr><td>SURINAME</td><td>Surinam Dollar</td><td>SRD</td></tr>
<tr><td>SVALBARD AND JAN MAYEN</td><td>Norwegian Krone</td><td>NOK</td></tr>
<tr><td>SWAZILAND</td><td>Lilangeni</td><td>SZL</td></tr>
<tr><td>SWEDEN</td><td>Swedish Krona</td><td>SEK</td></tr>
<tr><td>SWITZERLAND</td><td>WIR Euro</td><td>CHE</td></tr>
<tr><td>SWITZERLAND</td><td>Swiss Franc</td><td>CHF</td></tr>
<tr><td>SWITZERLAND</td><td>WIR Franc</td><td>CHW</td></tr>
<tr><td>SYRIAN ARAB REPUBLIC</td><td>Syrian Pound</td><td>SYP</td></tr>
<tr><td>TAIWAN (PROVINCE OF CHINA)</td><td>New Taiwan Dollar</td><td>TWD</td></tr>
<tr><td>TAJIKISTAN</td><td>Somoni</td><td>TJS</td></tr>
<tr><td>TANZANIA, UNITED REPUBLIC OF</td><td>Tanzanian Shilling</td><td>TZS</td></tr>
<tr><td>THAILAND</td><td>Baht</td><td>THB</td></tr>
<tr><td>TIMOR-LESTE</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>TOGO</td><td>CFA Franc BCEAO</td><td>XOF</td></tr>
<tr><td>TOKELAU</td><td>New Zealand Dollar</td><td>NZD</td></tr>
<tr><td>TONGA</td><td>Pa’anga</td><td>TOP</td></tr>
<tr><td>TRINIDAD AND TOBAGO</td><td>Trinidad and Tobago Dollar</td><td>TTD</td></tr>
<tr><td>TUNISIA</td><td>Tunisian Dinar</td><td>TND</td></tr>
<tr><td>TURKEY</td><td>Turkish Lira</td><td>TRY</td></tr>
<tr><td>TURKMENISTAN</td><td>Turkmenistan New Manat</td><td>TMT</td></tr>
<tr><td>TURKS AND CAICOS ISLANDS (THE)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>TUVALU</td><td>Australian Dollar</td><td>AUD</td></tr>
<tr><td>UGANDA</td><td>Uganda Shilling</td><td>UGX</td></tr>
<tr><td>UKRAINE</td><td>Hryvnia</td><td>UAH</td></tr>
<tr><td>UNITED ARAB EMIRATES (THE)</td><td>UAE Dirham</td><td>AED</td></tr>
<tr><td>UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)</td><td>Pound Sterling</td><td>GBP</td></tr>
<tr><td>UNITED STATES MINOR OUTLYING ISLANDS (THE)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>UNITED STATES OF AMERICA (THE)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>UNITED STATES OF AMERICA (THE)</td><td>US Dollar (Next day)</td><td>USN</td></tr>
<tr><td>URUGUAY</td><td>Uruguay Peso en Unidades Indexadas (URUIURUI)</td><td>UYI</td></tr>
<tr><td>URUGUAY</td><td>Peso Uruguayo</td><td>UYU</td></tr>
<tr><td>UZBEKISTAN</td><td>Uzbekistan Sum</td><td>UZS</td></tr>
<tr><td>VANUATU</td><td>Vatu</td><td>VUV</td></tr>
<tr><td>VENEZUELA (BOLIVARIAN REPUBLIC OF)</td><td>Bolivar</td><td>VEF</td></tr>
<tr><td>VIET NAM</td><td>Dong</td><td>VND</td></tr>
<tr><td>VIRGIN ISLANDS (BRITISH)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>VIRGIN ISLANDS (U.S.)</td><td>US Dollar</td><td>USD</td></tr>
<tr><td>WALLIS AND FUTUNA</td><td>CFP Franc</td><td>XPF</td></tr>
<tr><td>WESTERN SAHARA</td><td>Moroccan Dirham</td><td>MAD</td></tr>
<tr><td>YEMEN</td><td>Yemeni Rial</td><td>YER</td></tr>
<tr><td>ZAMBIA</td><td>Zambian Kwacha</td><td>ZMW</td></tr>
<tr><td>ZIMBABWE</td><td>Zimbabwe Dollar</td><td>ZWL</td></tr>
<tr><td>ÅLAND ISLANDS</td><td>Euro</td><td>EUR</td></tr>
</table>
