<style> table tr td, table tr th { padding: 10px 16px; line-height: 20px; vertical-align: middle; } table tr td,  table tr th { border: 1px solid #dbdbdb; }</style>
<table>
<tr><th>fortran</th><th>1954</th></tr>
<tr><td>lisp</td><td>1959</td></tr>
<tr><td>cobol</td><td>1960</td></tr>
<tr><td>basic</td><td>1964</td></tr>
<tr><td>logo</td><td>1968</td></tr>
<tr><td>pascal</td><td>1971</td></tr>
<tr><td>c</td><td>1972</td></tr>
<tr><td>smalltalk</td><td>1972</td></tr>
<tr><td>prolog</td><td>1972</td></tr>
<tr><td>sql</td><td>1974</td></tr>
<tr><td>ada</td><td>1983</td></tr>
<tr><td>c++</td><td>1983</td></tr>
<tr><td>caml</td><td>1985</td></tr>
<tr><td>perl</td><td>1987</td></tr>
<tr><td>haskell</td><td>1990</td></tr>
<tr><td>python</td><td>1991</td></tr>
<tr><td>ruby</td><td>1993</td></tr>
<tr><td>lua</td><td>1993</td></tr>
<tr><td>java</td><td>1995</td></tr>
<tr><td>php</td><td>1995</td></tr>
<tr><td>c#</td><td>2000</td></tr>
<tr><td>scala</td><td>2003</td></tr>
<tr><td>go</td><td>2009</td></tr>
<tr><td>rust</td><td>2010</td></tr>
<tr><td>kotlin</td><td>2011</td></tr>
<tr><td>julia</td><td>2012</td></tr>
<tr><td>swift</td><td>2014</td></tr>
</table>
