<h1 id="séquence-7">Séquence 7</h1>
<p>L’objectif de la séquence est de travailler sur la notion de codage optimal. On poura lire le chapitre 16 de l’ouvrage</p>
<p><strong>Algorithmique</strong> par Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest et Clifford Stein Dunod 3ième édition 2010 <a href="https://www.dunod.com/sciences-techniques/algorithmique-cours-avec-957-exercices-et-158-problemes">lien</a> des versions plus anciennes sont accessibles partiellement sur internet.</p>
<h2 id="question-1">Question 1</h2>
<p>Les codes ci-dessous ont-ils la propriété du préfixe</p>
<table>
<thead>
<tr class="header">
<th style="text-align: left;">Lettre</th>
<th style="text-align: left;">code 1</th>
<th style="text-align: left;">code 2</th>
<th style="text-align: left;">code 3</th>
<th style="text-align: left;">code 4</th>
<th style="text-align: left;">code5</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">A</td>
<td style="text-align: left;">0</td>
<td style="text-align: left;">01</td>
<td style="text-align: left;">01</td>
<td style="text-align: left;">0</td>
<td style="text-align: left;">000</td>
</tr>
<tr class="even">
<td style="text-align: left;">B</td>
<td style="text-align: left;">10</td>
<td style="text-align: left;">10</td>
<td style="text-align: left;">000</td>
<td style="text-align: left;">10</td>
<td style="text-align: left;">001</td>
</tr>
<tr class="odd">
<td style="text-align: left;">C</td>
<td style="text-align: left;">110</td>
<td style="text-align: left;">111</td>
<td style="text-align: left;">1000</td>
<td style="text-align: left;">1100</td>
<td style="text-align: left;">010</td>
</tr>
<tr class="even">
<td style="text-align: left;">D</td>
<td style="text-align: left;">1110</td>
<td style="text-align: left;">101</td>
<td style="text-align: left;">1001</td>
<td style="text-align: left;">1101</td>
<td style="text-align: left;">011</td>
</tr>
<tr class="odd">
<td style="text-align: left;">E</td>
<td style="text-align: left;">11110</td>
<td style="text-align: left;">11001</td>
<td style="text-align: left;">110</td>
<td style="text-align: left;">1110</td>
<td style="text-align: left;">100</td>
</tr>
<tr class="even">
<td style="text-align: left;">F</td>
<td style="text-align: left;">11111</td>
<td style="text-align: left;">11100</td>
<td style="text-align: left;">111</td>
<td style="text-align: left;">1111</td>
<td style="text-align: left;">101</td>
</tr>
</tbody>
</table>
<h3 id="réponses-éléments">réponses (éléments)</h3>
<ol type="1">
<li>oui le code 1 a la propriété du préfixe, l’arbre associé est un peigne</li>
<li>non le code 2 n’a pas la propriété du préfixe, le code de B est préfixe du code de D</li>
<li>oui le code 3 a la propriété du préfixe, il n’est pas optimal (construire l’arbre associé)</li>
<li>oui le code 4 a la propriété du préfixe, dans l’arbre associé tout noeud interne a exactement 2 fils</li>
<li>oui c’est le code de longueur fixe (longueur = 3)</li>
</ol>
<h2 id="question-2">Question 2</h2>
<p>Dans un texte on observe le nombre de lettres (le texte comporte 32 lettres).</p>
<table>
<thead>
<tr class="header">
<th style="text-align: left;">Lettre</th>
<th style="text-align: left;">A</th>
<th style="text-align: left;">B</th>
<th style="text-align: left;">C</th>
<th style="text-align: left;">D</th>
<th style="text-align: left;">E</th>
<th style="text-align: left;">F</th>
<th style="text-align: left;">G</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Nombre</td>
<td style="text-align: left;">1</td>
<td style="text-align: left;">16</td>
<td style="text-align: left;">4</td>
<td style="text-align: left;">4</td>
<td style="text-align: left;">4</td>
<td style="text-align: left;">2</td>
<td style="text-align: left;">1</td>
</tr>
</tbody>
</table>
<ol type="1">
<li>L’entropie de cette répartition de lettres est <span class="math inline">2</span>,<span class="math inline">2.1875</span>,<span class="math inline">2.625</span>,<span class="math inline">3</span>, <span class="math inline">3.742</span>,<span class="math inline">4</span></li>
<li>Dans l’arbre de Huffman la lettre G sera à la hauteur (hauteur de la racine = 0 par convention) <span class="math inline">2</span>, <span class="math inline">3</span>, <span class="math inline">4</span>, <span class="math inline">5</span>, <span class="math inline">6</span></li>
<li>Pour cette répartition de lettres la complexité du code de Huffman est inférieure/égale/supérieure à l’entropie ?</li>
</ol>
<h3 id="réponses-éléments-1">réponses (éléments)</h3>
<ol type="1">
<li>l’entropie est <span class="math inline">∑<em>p</em><sub><em>i</em></sub>(−log<sub>2</sub><em>p</em><sub><em>i</em></sub>)</span> ici on obtient <span class="math inline">2.1875</span>, c’est calculable à la main car les proportions sont des puissances de 2</li>
<li>la lettre G est à la hauteur 5, il faut 5 symboles pour coder G. C’est logique, sa proportion est <span class="math inline">$\frac 1{32}= 2^{-5}$</span></li>
<li>dans ce cas particulier de puissances de 2 la complexité du code est égale à l’entropie. Dans le cas général elle est toujours supérieure ou égale.</li>
</ol>
<h2 id="question-3">Question 3</h2>
<p>Dans l’algorithme de Huffman, que l’on exécute sur un ensemble de <span class="math inline"><em>K</em></span> symboles, à la fin de l’itération <span class="math inline"><em>i</em></span></p>
<ol type="1">
<li>la somme des tailles des arbres contenus dans la file à priorité est égal à <span class="math inline"><em>K</em></span>, <span class="math inline">2<em>K</em></span>, <span class="math inline"><em>K</em> + <em>i</em></span>, <span class="math inline"><em>K</em> − <em>i</em></span></li>
<li>la somme des poids des racines des arbres dans la file à priorité est (a) à la somme des poids des feuilles, (b) à <span class="math inline">1</span> si la pondération est une probabilité, (c) au nombre d’arbres dans la file à priorité, (d) au nombre de symboles</li>
</ol>
<h3 id="réponses-éléments-2">réponses (éléments)</h3>
<ol type="1">
<li>la file à priorité contient <span class="math inline"><em>n</em> + <em>i</em></span> noeuds, en effet initialement la file contient les <span class="math inline"><em>K</em></span> feuilles, à chaque étape on réalise la fusion de 2 arbres avec l’adjonction d’un noeud. donc à l’itération i on rajoute <span class="math inline">1</span> noeud.</li>
<li><ol type="a">
<li>et (b) sont correctes (ce sont des invariants).</li>
</ol></li>
</ol>
