<h1 id="exercices---calcul-de-complexité">Exercices - Calcul de complexité</h1>
<p><strong>Note :</strong> Pour répondre aux questions, nous vous conseillons d’écrire chaque code et de l’annoter en veillant bien à détailler vos réponses et en justifiant la complexité de chaque partie du code.</p>
<h2 id="exercices-1">Exercices 1</h2>
<p>Indiquez la complexité maximale des codes suivants.</p>
<p>On suppose n entier positif, <span class="math inline"><em>t</em></span> <span class="math inline"><em>a</em></span> et <span class="math inline"><em>b</em></span> des listes d’entiers (de petites valeurs).</p>
<h3 id="possibilités">Possibilités :</h3>
<ul>
<li><span class="math inline"><em>O</em>(1)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em>)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em><sup>3</sup>)</span></li>
<li><span class="math inline"><em>O</em>(<em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em> <em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></li>
<li><span class="math inline"><em>O</em>(2<sup><em>n</em></sup>)</span></li>
<li>aucune de ces complexités</li>
</ul>
<h3 id="enoncés">Enoncés :</h3>
<ul>
<li><div class="sourceCode" id="cb1"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> sequence(n):</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">+</span> <span class="dv">1</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">+</span> <span class="dv">4</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">*</span> <span class="dv">4</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">**</span> <span class="dv">10</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">//</span> <span class="dv">2</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>      <span class="cf">return</span> n</span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(1)</span></p></li>
<li><div class="sourceCode" id="cb2"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> boucle(n):</span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">+</span> <span class="dv">1</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a>      i <span class="op">=</span> <span class="dv">0</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a>      <span class="cf">while</span> i <span class="op">&lt;</span> n:</span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true" tabindex="-1"></a>         i <span class="op">=</span> i <span class="op">+</span> <span class="dv">1</span></span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">*</span> n                              </span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true" tabindex="-1"></a>      <span class="cf">return</span> n</span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>n</em>)</span></p></li>
<li><div class="sourceCode" id="cb3"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> boucle(n):</span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">+</span> <span class="dv">1</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a>      i <span class="op">=</span> <span class="dv">1</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a>      <span class="cf">while</span> i <span class="op">&lt;</span> n:</span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a>         i <span class="op">=</span> <span class="dv">2</span> <span class="op">*</span> i</span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> n <span class="op">*</span> n                              </span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true" tabindex="-1"></a>      <span class="cf">return</span> n</span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></p></li>
<li><div class="sourceCode" id="cb4"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> b(t):</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>     n <span class="op">=</span> <span class="bu">len</span>(t)</span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>     <span class="cf">for</span> j <span class="kw">in</span> <span class="bu">range</span>(<span class="dv">4</span>):</span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a>       <span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(n):</span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a>         t[i] <span class="op">*=</span> t[i]</span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>n</em>)</span></p></li>
<li><div class="sourceCode" id="cb5"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> h(t):</span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a>     n <span class="op">=</span> <span class="bu">len</span>(t)</span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a>     <span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(n):</span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a>       t[i] <span class="op">=</span> <span class="dv">0</span></span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a>       j <span class="op">=</span> n</span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true" tabindex="-1"></a>       <span class="cf">while</span> j <span class="op">&gt;</span> <span class="dv">1</span>:</span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true" tabindex="-1"></a>         t[i] <span class="op">+=</span> i<span class="op">*</span>j</span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true" tabindex="-1"></a>         j <span class="op">//=</span> <span class="dv">2</span></span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>n</em> <em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></p></li>
<li><div class="sourceCode" id="cb6"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> nesting(n):</span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a>      <span class="bu">sum</span> <span class="op">=</span> <span class="dv">0</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a>      i <span class="op">=</span> <span class="dv">0</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a>      <span class="cf">while</span> i <span class="op">&lt;</span> n:</span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a>         j <span class="op">=</span> <span class="dv">0</span></span>
<span id="cb6-6"><a href="#cb6-6" aria-hidden="true" tabindex="-1"></a>         <span class="cf">while</span> j <span class="op">&lt;</span> i:</span>
<span id="cb6-7"><a href="#cb6-7" aria-hidden="true" tabindex="-1"></a>            <span class="bu">sum</span> <span class="op">+=</span> <span class="dv">1</span></span>
<span id="cb6-8"><a href="#cb6-8" aria-hidden="true" tabindex="-1"></a>            j <span class="op">+=</span> <span class="dv">1</span></span>
<span id="cb6-9"><a href="#cb6-9" aria-hidden="true" tabindex="-1"></a>         i <span class="op">+=</span> <span class="dv">1</span></span>
<span id="cb6-10"><a href="#cb6-10" aria-hidden="true" tabindex="-1"></a>      <span class="cf">return</span> <span class="bu">sum</span></span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></p></li>
<li><div class="sourceCode" id="cb7"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> recherche(s,x):</span>
<span id="cb7-2"><a href="#cb7-2" aria-hidden="true" tabindex="-1"></a>      i <span class="op">=</span> <span class="dv">0</span></span>
<span id="cb7-3"><a href="#cb7-3" aria-hidden="true" tabindex="-1"></a>      <span class="cf">while</span> i <span class="op">&lt;</span> <span class="bu">len</span>(s) <span class="kw">and</span> s[i] <span class="op">!=</span> x:</span>
<span id="cb7-4"><a href="#cb7-4" aria-hidden="true" tabindex="-1"></a>         i <span class="op">=</span> i<span class="op">+</span><span class="dv">1</span></span>
<span id="cb7-5"><a href="#cb7-5" aria-hidden="true" tabindex="-1"></a>      <span class="cf">if</span> i <span class="op">==</span> <span class="bu">len</span>(s):</span>
<span id="cb7-6"><a href="#cb7-6" aria-hidden="true" tabindex="-1"></a>         i <span class="op">=</span> <span class="op">-</span><span class="dv">1</span></span>
<span id="cb7-7"><a href="#cb7-7" aria-hidden="true" tabindex="-1"></a>      <span class="cf">return</span> i</span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>n</em>)</span></p></li>
<li><div class="sourceCode" id="cb8"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> tri_selection(s):</span>
<span id="cb8-2"><a href="#cb8-2" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> <span class="bu">len</span>(s)</span>
<span id="cb8-3"><a href="#cb8-3" aria-hidden="true" tabindex="-1"></a>      <span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(n<span class="op">-</span><span class="dv">1</span>):</span>
<span id="cb8-4"><a href="#cb8-4" aria-hidden="true" tabindex="-1"></a>         <span class="bu">min</span> <span class="op">=</span> i</span>
<span id="cb8-5"><a href="#cb8-5" aria-hidden="true" tabindex="-1"></a>         <span class="cf">for</span> j <span class="kw">in</span> <span class="bu">range</span>(i<span class="op">+</span><span class="dv">1</span>,n):</span>
<span id="cb8-6"><a href="#cb8-6" aria-hidden="true" tabindex="-1"></a>           <span class="cf">if</span>  s[j] <span class="op">&lt;</span> s[<span class="bu">min</span>]:</span>
<span id="cb8-7"><a href="#cb8-7" aria-hidden="true" tabindex="-1"></a>              <span class="bu">min</span> <span class="op">=</span> j</span>
<span id="cb8-8"><a href="#cb8-8" aria-hidden="true" tabindex="-1"></a>         s[<span class="bu">min</span>],s[i] <span class="op">=</span>  s[i],s[<span class="bu">min</span>]</span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></p></li>
<li><div class="sourceCode" id="cb9"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb9-1"><a href="#cb9-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> tri_insertion(s):</span>
<span id="cb9-2"><a href="#cb9-2" aria-hidden="true" tabindex="-1"></a>      n <span class="op">=</span> <span class="bu">len</span>(s)</span>
<span id="cb9-3"><a href="#cb9-3" aria-hidden="true" tabindex="-1"></a>      <span class="cf">for</span> i <span class="kw">in</span> <span class="bu">range</span>(<span class="dv">1</span>,n):</span>
<span id="cb9-4"><a href="#cb9-4" aria-hidden="true" tabindex="-1"></a>         Save <span class="op">=</span> s[i]</span>
<span id="cb9-5"><a href="#cb9-5" aria-hidden="true" tabindex="-1"></a>         j <span class="op">=</span> i<span class="op">-</span><span class="dv">1</span></span>
<span id="cb9-6"><a href="#cb9-6" aria-hidden="true" tabindex="-1"></a>         <span class="cf">while</span> j<span class="op">&gt;=</span><span class="dv">0</span> <span class="kw">and</span> s[j] <span class="op">&gt;</span> Save:</span>
<span id="cb9-7"><a href="#cb9-7" aria-hidden="true" tabindex="-1"></a>            s[j<span class="op">+</span><span class="dv">1</span>] <span class="op">=</span> s[j]</span>
<span id="cb9-8"><a href="#cb9-8" aria-hidden="true" tabindex="-1"></a>            j<span class="op">=</span>j<span class="op">-</span><span class="dv">1</span></span>
<span id="cb9-9"><a href="#cb9-9" aria-hidden="true" tabindex="-1"></a>         s[j<span class="op">+</span><span class="dv">1</span>] <span class="op">=</span> Save</span></code></pre></div>
<p><strong>Réponse :</strong> <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></p></li>
</ul>
<h2 id="exercices-2">Exercices 2</h2>
<p>Chacune des 2 fonctions <code>foo1</code> et <code>foo2</code> reçoit deux listes <code>a</code> et <code>b</code> (que l’on supposer de petites valeurs entières) et teste si <code>b</code> est une permutation de <code>a</code>.</p>
<p>Donnez la complexité moyenne et maximale en <span class="math inline"><em>O</em>()</span> du temps d’exécution de chacune des deux fonctions.</p>
<h3 id="possibilités-complexité-moyenne">Possibilités (complexité moyenne) :</h3>
<ul>
<li><span class="math inline"><em>O</em>(1)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em>)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em><sup>3</sup>)</span></li>
<li><span class="math inline"><em>O</em>(<em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em> <em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></li>
<li><span class="math inline"><em>O</em>(2<sup><em>n</em></sup>)</span></li>
<li>aucune de ces complexités</li>
</ul>
<h3 id="possibilités-complexité-maximale">Possibilités (complexité maximale) :</h3>
<ul>
<li><span class="math inline"><em>O</em>(1)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em>)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em><sup>3</sup>)</span></li>
<li><span class="math inline"><em>O</em>(<em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></li>
<li><span class="math inline"><em>O</em>(<em>n</em> <em>l</em><em>o</em><em>g</em>(<em>n</em>))</span></li>
<li><span class="math inline"><em>O</em>(2<sup><em>n</em></sup>)</span></li>
<li>aucune de ces complexités</li>
</ul>
<h3 id="enoncés-1">Enoncés :</h3>
<ul>
<li><div class="sourceCode" id="cb10"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb10-1"><a href="#cb10-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> foo1(a,b):                                        </span>
<span id="cb10-2"><a href="#cb10-2" aria-hidden="true" tabindex="-1"></a>       res <span class="op">=</span> <span class="va">False</span>                                       </span>
<span id="cb10-3"><a href="#cb10-3" aria-hidden="true" tabindex="-1"></a>       <span class="cf">if</span> <span class="bu">len</span>(a)<span class="op">==</span><span class="bu">len</span>(b):                                </span>
<span id="cb10-4"><a href="#cb10-4" aria-hidden="true" tabindex="-1"></a>          dic_a <span class="op">=</span> {}                                     </span>
<span id="cb10-5"><a href="#cb10-5" aria-hidden="true" tabindex="-1"></a>          dic_b <span class="op">=</span> {}                                     </span>
<span id="cb10-6"><a href="#cb10-6" aria-hidden="true" tabindex="-1"></a>          <span class="cf">for</span> i <span class="kw">in</span> a:                     </span>
<span id="cb10-7"><a href="#cb10-7" aria-hidden="true" tabindex="-1"></a>              dic_a[i]<span class="op">=</span>dic_a.get(i,<span class="dv">0</span>)<span class="op">+</span><span class="dv">1</span>   </span>
<span id="cb10-8"><a href="#cb10-8" aria-hidden="true" tabindex="-1"></a>          <span class="cf">for</span> i <span class="kw">in</span> b:                    </span>
<span id="cb10-9"><a href="#cb10-9" aria-hidden="true" tabindex="-1"></a>              dic_b[i]<span class="op">=</span>dic_b.get(i,<span class="dv">0</span>)<span class="op">+</span><span class="dv">1</span>  </span>
<span id="cb10-10"><a href="#cb10-10" aria-hidden="true" tabindex="-1"></a>         res <span class="op">=</span> dic_a <span class="op">==</span> dic_b</span>
<span id="cb10-11"><a href="#cb10-11" aria-hidden="true" tabindex="-1"></a>       <span class="cf">return</span> res                                      </span></code></pre></div>
<p><strong>Réponse :</strong> : complexité moyenne : <span class="math inline"><em>O</em>(<em>n</em>)</span> maximale : <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></p></li>
<li><div class="sourceCode" id="cb11"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb11-1"><a href="#cb11-1" aria-hidden="true" tabindex="-1"></a>   <span class="kw">def</span> foo2(a,b):                                      </span>
<span id="cb11-2"><a href="#cb11-2" aria-hidden="true" tabindex="-1"></a>       res <span class="op">=</span> <span class="va">False</span>                                     </span>
<span id="cb11-3"><a href="#cb11-3" aria-hidden="true" tabindex="-1"></a>       <span class="cf">if</span> <span class="bu">len</span>(a)<span class="op">==</span><span class="bu">len</span>(b):                     </span>
<span id="cb11-4"><a href="#cb11-4" aria-hidden="true" tabindex="-1"></a>          res <span class="op">=</span> <span class="va">True</span>                          </span>
<span id="cb11-5"><a href="#cb11-5" aria-hidden="true" tabindex="-1"></a>          <span class="cf">for</span> i <span class="kw">in</span> a:                    </span>
<span id="cb11-6"><a href="#cb11-6" aria-hidden="true" tabindex="-1"></a>              <span class="cf">if</span> i <span class="kw">in</span> b:                 </span>
<span id="cb11-7"><a href="#cb11-7" aria-hidden="true" tabindex="-1"></a>                  a.remove(i)            </span>
<span id="cb11-8"><a href="#cb11-8" aria-hidden="true" tabindex="-1"></a>                  b.remove(i)            </span>
<span id="cb11-9"><a href="#cb11-9" aria-hidden="true" tabindex="-1"></a>              <span class="cf">else</span>:                      </span>
<span id="cb11-10"><a href="#cb11-10" aria-hidden="true" tabindex="-1"></a>                  res <span class="op">=</span> <span class="va">False</span>            </span>
<span id="cb11-11"><a href="#cb11-11" aria-hidden="true" tabindex="-1"></a>       <span class="cf">return</span> res                        </span></code></pre></div>
<p><strong>Réponse :</strong> foo2(a,b): complexité moyenne : <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span> maximale : <span class="math inline"><em>O</em>(<em>n</em><sup>2</sup>)</span></p></li>
</ul>
